body { 
background-color: #bbb;
}
.nav {
    background: #fff
}
.nav__flex {
    display: flex;
    justify-content: space-between;
    list-style: none
}
.nav__item {
    padding: 10px;
}
.nav__item-link {
    text-decoration: none;
}
.hero__section {
    margin: 20px auto;
    max-width: 400px
}
.image__flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}
.column__img {
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.column h3 {
    text-align: center
}